input::placeholder {
  color: rgb(217, 217, 217) !important;
}


.imageLoader {
  display: inline-block;
  height: 30px;
  width: 30px;
  background: url(./images/0_ptDX0HfJCYpo9Pcs.gif);
  background-size: 250%;
  background-position: center;
  border-radius: 50%;
  /* filter: brightness(10); */
}